body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.heart-container {
    position: relative;
    width: 150px;
    height: 150px;
    animation: pulse 2s infinite alternate;
}

.heart-particle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    animation: particle-move 4s infinite;
}

.heart {
    position: absolute;
    width: 100px;
    height: 90px;
    top: 30px;
    left: 25px;
    background-color: red;
    border-radius: 50px 50px 0 0;
    animation: shine 2s infinite alternate;
}

/* Animation for particle movement */
@keyframes particle-move {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(150px, 150px);
    }
}

/* Heart pulsing animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Shine effect animation */
@keyframes shine {
    0% {
        box-shadow: inset -10px 10px 0px 0px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: inset 10px 10px 0px 0px rgba(255, 255, 255, 0.5);
    }
}
